body {
  width:100%;
  margin: 0 auto;
  background-image: url("../images/concrete_seamless.png");
  font-family: Arial, Helvetica, sans-serif;

}

.header {
    background-color: #ffffff;
    border-bottom: #cccccc 1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    height: 75px;

}

#name {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 29px 20px 0px 16px;
    margin: 0 0 0 250px;
    height: 46px;
    text-align: center;


}

.nav {
    padding: 22px;
}

ul {
    list-style-type: none;
    margin: 0 193px 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    padding: 0px 1px 9px 0px;
    margin: 0px;
    height: 35px;
    text-align: center;
}
li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    background-color: #ffffff;
    border-right: #666666 1px solid;
    
    
}

li:first-child {
    border-right: none;
}

li a:hover {
    background-color:#cccccc;
    color: #ffffff;
}


#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #00afa9;
    clear: both;
    border-bottom: #cccccc 3px solid;
    height: 47px;
    width: 965px;
}
.content {
    width: 960px;
    height: 500px;
    margin: 30px 0 0 254px;
    background-color: #dddddd 1px solid;
    background-size: 960px;
     

}
section {
    padding: 3px 0 0 5px;
    background-color: #ffffff;
    border: #dddddd;
    width: 960px;
    height: 450px;
    border: #efefef 1px solid;
    
}

img {
    margin: 30px;
    width: 150px;
    float: left;
}

p {
    margin: 45px 10px 0 185px;
    color: #777777;
    line-height: 35px;
    text-indent: 50px;
    
}

footer {
    clear: both;
    background-color: #666666;
    text-align: center;
    padding: 20px;
    border: #4aaaa5 2px solid;
    margin: 160px 0 0 0;
    color: #ffffff;
}

#fname,
#message,
#email {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    width: 875px;
    border: 1px solid #dddddd;
}

 #message {
     height: 180px;
}

.pictures {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

.port {
    margin: 15px 40px;
    position: relative;
}


#lone {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    left: 300px;
    top: 295px;
    width: 144px;
    text-align: center;
}
    
#ltwo {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 295px;
    left: 530px;
    width: 144px;
    text-align: center;
}


#lthree {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 295px;
    left: 760px;
    width: 144px;
    text-align: center;
}

#lfour {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 295px;
    left: 990px;
    width: 144px;
    text-align: center;
}

#lfive {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 438px;
    left: 300px;
    width: 144px;
    text-align: center;
    z-index: 1;
}

#lsix {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 438px;
    left: 530px;
    width: 144px;
    text-align: center;
    
}

#lseven {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 438px;
    left: 760px;
    width: 144px;
    text-align: center;
}

#leight {
    color: #dddddd;
    background-color: #4aaaa5;
    padding: 3px;
    position: absolute;
    top: 438px;
    left: 990px;
    width: 144px;
    text-align: center;
}
 
#cut {
    margin: 30px 0 0 0;
}

form {
    margin: 0 auto;
}

#next {
    margin: 30px;
}