body {
  width:100%;
  margin: 0 auto;
  background-image: url("../images/concrete_seamless.png");
  font-family: Arial, Helvetica, sans-serif;

}

.header {
    background-color: #ffffff;
    border-bottom: #cccccc 1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    height: 75px;

}

#name {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 29px 20px 0px 16px;
    margin: 0 0 0 250px;
    height: 46px;
    text-align: center;


}

.nav {
    padding: 22px;
}

ul {
    list-style-type: none;
    margin: 0 193px 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    padding: 0px 1px 9px 0px;
    margin: 0px;
    height: 35px;
    text-align: center;
}
li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    background-color: #ffffff;
    border-right: #666666 1px solid;
    
    
}

li:first-child {
    border-right: none;
}

li a:hover {
    background-color:#cccccc;
    color: #ffffff;
}

.active {
    background-color: rgb(101, 99, 102);
    color: #ffffff;
}

#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #00afa9;
    clear: both;
    border-bottom: #cccccc 3px solid;
    height: 47px;
    width: 909px;
}
.content {
    width: 960px;
    height: 500px;
    margin: 30px 0 0 254px;
    background-color: #dddddd 1px solid;
    background-size: 960px;
     

}
section {
    padding: 3px 0 0 35px;
    display: block;
    background-color: #ffffff;
    border: #dddddd;
    width: 960px;
    height: 450px;
    border: #efefef 1px solid;
}

img {
    width: 150px;
    float: left;
}

p {
    margin: 0 0 0 185px;
    color: #777777;
    line-height: 25px;
}

footer {
    clear: both;
    background-color: #666666;
    text-align: center;
    padding: 20px;
    border: #4aaaa5 2px solid;
    margin: 160px 0 0 0;
    color: #ffffff;
}


#fname {
    display: block;
    width: 877px;
    padding: 10px;
}
 #message {
     display: block;
     width: 875px;
     height: 130px;
     padding: 10px;
    
 }

 #mail {
     display: block;
     width: 875px;
     padding: 10px;
     
 }

.pictures {
    display: block;
}

.port {
    margin: 15px 40px;
}
 
#cut {
    margin: 30px 0 0 0;
}